<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.kou.spider.container.impl.mapper.FileUrlMapper">
    <resultMap id="FileUrlMap" type="top.kou.spider.model.FileUrl">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="lookupByUrl" resultMap="FileUrlMap">
        select * from spider_file_url where url=#{0} limit 1
    </select>

    <insert id="save" parameterType="top.kou.spider.model.FileUrl" useGeneratedKeys="true" keyProperty="id">
        insert into spider_file_url(url, type, create_time)
          select #{url}, #{type}, now() from dual
            where not exists (select * from spider_file_url where url=#{url}) limit 1
    </insert>
</mapper>